@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf") format("truetype");
}
a {
  text-decoration: none;
}

.head {
  text-align: center;
  margin-left: 1%;
}

#logo {
  margin-top: 10px;
  width: 150px;
  height: 25px;
}

#retour_fleche {
  position: absolute;
  left: 5px;
}

figure.image {
  position: relative;
  margin: 0px;
}

.photo {
  width: 350px;
  height: auto;
}

footer {
  margin-top: 0px;
  background-color: #242522;
}
footer a {
  color: white;
}

.pied {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;
}
.pied img {
  max-width: 120px;
  max-height: 20px;
  filter: invert(100%);
  margin-bottom: 15px;
}
.pied_lien {
  text-align: center;
  vertical-align: auto;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pied_couverts {
  position: relative;
  font-size: small;
  top: 10px;
}
.pied_mains {
  position: relative;
  font-size: 70%;
  top: 10px;
}
.pied_proposer {
  position: relative;
  left: 18px;
  margin: 0px;
}
.pied_devenir {
  position: relative;
  left: 15px;
  margin: 0px;
}

.presentation {
  display: box;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F2F2F2;
  height: 300px;
}

.presentation_lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e2e2;
  border-top: 4px solid silver;
  height: 42px;
}

.presentation_lieu--icone {
  position: relative;
  left: -20px;
}

.presentation_lieu--ville {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation_lieu--texte {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.etape {
  vertical-align: auto;
  display: flex;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  background-color: #F2F2F2;
  margin-bottom: 20px;
  height: 55px;
  box-shadow: 0px 10px 10px -12px grey;
}
.etape_icone {
  color: grey;
  position: relative;
  left: 20px;
  top: 17px;
}

.numero {
  position: relative;
  height: 10px;
  top: 12px;
  left: -8px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 11px;
}

.action {
  position: relative;
  left: 40px;
}

.restaurants {
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 15px;
}

figure.resto {
  position: relative;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 260px;
  width: 95%;
  overflow: hidden;
  box-shadow: 0px 20px 50px -40px;
}

figure.resto img {
  position: absolute;
  object-fit: cover;
  width: 400px;
  height: 200px;
}

figcaption.resto_descrip {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0px;
  padding: 5px;
  margin: 0%;
}

.resto_descrip--texte {
  width: 60%;
  margin-right: 0px;
  margin-bottom: 12px;
}

.resto_descrip--nom {
  margin-bottom: 0px;
}

.resto_descrip--coeur {
  font-size: larger;
  position: absolute;
  right: 25px;
  top: 30px;
}
.resto_descrip--coeur--selected {
  font-size: larger;
  position: absolute;
  right: 25px;
  top: 30px;
  color: #FF79DA;
}

.resto_descrip--main {
  font-size: x-large;
  position: absolute;
  right: 18px;
  top: 40px;
}

.btn {
  color: white;
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-top: 30px;
  box-shadow: 0px 10px 10px -5px grey;
}

h4 {
  font-size: 110%;
  padding-top: 12px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.carte {
  position: relative;
  top: -30px;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 30px;
}
.carte_titre {
  display: flex;
  justify-content: space-between;
}
.carte_titre h1 {
  font-size: 180%;
  font-family: "Shrikhand";
}
.carte_titre--coeur {
  font-size: larger;
  position: relative;
  right: 25px;
  top: 30px;
}
.carte_plat {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 12px;
  box-shadow: 0px 10px 10px -12px grey;
}
.carte_plat:hover > .carte_plat--check {
  background-color: #99e2d0;
}
.carte_plat--texte {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.carte_plat--description {
  margin-left: 7px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}
.carte_plat--check {
  position: relative;
  display: block;
  width: 20%;
  justify-items: right;
  border-radius: 0 15px 15px 0;
  background-color: rgba(153, 226, 208, 0);
  margin-bottom: 20px;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 12px;
  transition: background-color 400ms;
  overflow: hidden;
}

[type=checkbox] {
  position: absolute;
  right: 0;
  opacity: 0.01;
}

[type=checkbox] + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

[type=checkbox] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: 0.2em;
  transition: all 0.275s;
}

.trait {
  padding-bottom: 8px;
  border-bottom: 4px solid #99e2d0;
  width: 35px;
}

* {
  font-family: "Roboto";
}

body {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
