@import "./utils/variables";
@import "./base/polices";
@import "./base/header";
@import "./base/footer";
@import "./pages/home";
body{
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}