
h4{
    font-size: 110%;
    padding-top:12px;
    margin-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.carte{
    position: relative;
    top: -30px;
    padding: 10px;
    background-color: $CouleurFond;
    border-radius: 30px;
    &_titre {
        display: flex;
        justify-content: space-between;
        & h1{
            font-size: 180%;
            font-family: 'Shrikhand';
        }
        &--coeur{
            font-size: larger;
            position: relative;
            right: 25px;
            top: 30px;
        }
        
    }
    &_plat{
        position: relative;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        background-color: white;
        margin-bottom: 20px;
        height: 60px;
        margin-right: 0px;
        margin-bottom: 12px;
        box-shadow:0px 10px 10px -12px grey;
            &:hover > .carte_plat--check{
                background-color: $CouleurTertiaire;
                }
        &--texte{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &--description{
            margin-left: 7px;
            margin-right: 15px;
            display: flex;
            justify-content: space-between;          
        }
        &--check{
            position: relative;
            display: block;
            width: 20%;
            justify-items: right;
            border-radius:0 15px 15px 0;
            background-color: $CouleurTertiaireInit;
            margin-bottom: 20px;
            height: 60px;
            margin-right: 0px;
            margin-bottom: 12px;
            transition: background-color 400ms;
            overflow: hidden;
 
        }
                
    }
}
[type="checkbox"] {
	position: absolute;
	right: 0;
	opacity: 0.01;
}

[type="checkbox"] + label {
	position: relative;
	padding-left: 2.3em;
	font-size: 1.05em;
	line-height: 1.7;
	cursor: pointer; 
}
[type="checkbox"] + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid #aaa;
	background: #FFF;
	border-radius: .2em;
	transition: all .275s;
}

.trait{
    padding-bottom: 8px;
    border-bottom: 4px solid $CouleurTertiaire;
	width: 35px;
}