.head{
	text-align: center;
    margin-left: 1%;
}
#logo{
	margin-top: 10px;
	width: 150px;
	height: 25px;
}
#retour_fleche{
	position: absolute;
	left: 5px;
}
figure.image{
	position: relative;
	margin: 0px;
}
.photo{
	width: 350px;
	height: auto;
}