.presentation{
    display: box;
	flex-wrap: wrap;
	justify-content: center;
    background-color: #F2F2F2;  
    height: 300px;
}
.presentation_lieu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e2e2;
    border-top: 4px solid rgb(192, 192, 192);
    height: 42px;

}
.btn{
    color: white;
    border: none;
    height: 45px;
    width: 200px;
    border-radius: 30px;
    background: linear-gradient(to bottom right,$CouleurSecondaire ,$CouleurPrimaire );
    margin-top: 30px;
    box-shadow:0px 10px 10px -5px grey;
}
.presentation_lieu--icone{
    position: relative;
    left:-20px;
}
.presentation_lieu--ville{
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation_lieu--texte{
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.fonctionnement{
    margin-left:15px;
    margin-right:15px;
    margin-top:40px;
    margin-bottom:50px;
}
.etape{
    vertical-align: auto;
    display: flex;
    text-align: center;
	font-weight: bold;
	border-radius: 15px;
	background-color: #F2F2F2;
	margin-bottom: 20
    px;
	height: 55px;
    box-shadow:0px 10px 10px -12px grey;
    &_icone{
        color: grey;
        position: relative;
	    left: 20px;
	    top: 17px;
    }
}
.numero{
    position: relative;
	height: 10px;
    top: 12px;
    left: -8px;
	color: white;
	background-color: $CouleurPrimaire;
    border-radius: 50%;
    padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 11px;
	}

.action{
    position: relative;
    left: 40px;
    }
.restaurants{
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 15px;
}
figure.resto{
    position: relative;
	justify-content: center;
	background-color: white;
	border-radius: 25px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0%;
	margin-bottom: 0%;
	height: 260px;
	width: 95%;
	overflow: hidden;
    box-shadow:0px 20px 50px -40px;
}
figure.resto img{
    position: absolute;
    object-fit: cover;
	width: 400px;
	height: 200px;
}
figcaption.resto_descrip{
    width: 100%;
    position: absolute;
    display:flex;
    flex-direction: row;
	bottom: 0px;
	padding: 5px;
	margin: 0%;
}
.resto_descrip--texte{
    width: 60%;
    margin-right: 0px;
    margin-bottom: 12px;
}
.resto_descrip--nom{
    margin-bottom: 0px;
}
.resto_descrip--coeur{
    font-size: larger;
    position: absolute;
    right: 25px;
    top: 30px;
    &--selected{
        font-size: larger;
        position: absolute;
        right: 25px;
        top: 30px;
        color: $CouleurSecondaire;
    }
}
.resto_descrip--main{
    font-size: x-large;
    position: absolute;
    right: 18px;
    top: 40px;
}